<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JOIN"
        tools:targetApi="31">
        <activity
            android:name=".menu.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".menu.chat.Chat_List"
            android:exported="false" />
        <activity
            android:name=".sesion.slide3"
            android:exported="false" />
        <activity
            android:name=".sesion.slide2"
            android:exported="false" />
        <activity
            android:name=".sesion.Login"
            android:exported="false" />
        <activity
            android:name=".sesion.DNI"
            android:exported="false" />
        <activity
            android:name=".sesion.Register"
            android:exported="false" />
        <activity
            android:name=".sesion.slide1"
            android:exported="false" />
        <activity
            android:name=".sesion.Open"
            android:exported="true"> <!-- Definir loginalex como la actividad de inicio -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Otras actividades -->
        <activity android:name=".menu.menu"
            android:exported="false"
            />
    </application>

</manifest>